<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Impersonator Bot</title>
    <link rel="icon" href="/img/icon.png">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>

  <body class="container" ng-cloak>
    <!-- sample angular code -->
    <h1 class="text-center">Impersonator Bot</h1>
    <p class="text-center">
      This site generates a comment based on a user's reddit comment history using <a href="https://en.wikipedia.org/wiki/Natural_language_processing">Natural Language Processing</a> and <a href="https://en.wikipedia.org/wiki/Markov_chain">Markov Chains</a>.
    </p>
    <div class="jumbotron">
    </div>
    <div class="col-md-12">
      <div ng-controller="mainController as mainCtrl">
        <div class="row">
          <form ng-submit="mainCtrl.getSentence(mainCtrl.redditUsername)">
            <div class="col-md-8">
              <input type="text" id="username" name="name" ng-model="mainCtrl.redditUsername" class="form-control" ng-change="mainCtrl.showComment = false" placeholder="Enter a reddit username!">
              <label for="username">The first time might take a minute! Subsequent requests should be faster.
              </label>
            </div>
            <div class="col-md-4">
              <button ng-click="mainCtrl.getSentence(mainCtrl.redditUsername)" type="button" name="button" class="form-control btn btn-danger">Make a sentence!</button>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="loader" data-loading>
            <div class="loader">Loading...</div>
          </div>
        </div>
        <div class="row">
          <br>
          <br>
          <div ng-if="mainCtrl.showComment" class="generated-comment">
            <span class="user-info">
              <span class="expand">[-]</span>
              <a class="username" ng-href="http://www.reddit.com/u/{{mainCtrl.redditUsername}}" target="_blank">{{mainCtrl.redditUsername}}</a>
              <strong>1337 Points</strong>
              <span class="time">Just Now</span>
            </span>
            <p class="generated-sentence">
              {{mainCtrl.sentence}}
            </p>
            <span class="links">
              <span>permalink</span>
              <span>source</span>
              <span>embed</span>
              <span>save</span>
              <span>report</span>
              <span>reply</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <!-- ng-route -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" charset="utf-8"></script>
    <!-- app and config -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <!-- reddit service -->
    <script type="text/javascript" src="js/services/reddit.js"></script>
    <!-- twitter service -->
    <script type="text/javascript" src="js/services/twitter.js"></script>
    <!-- main component -->
    <script type="text/javascript" src="js/components/main/main.controller.js"></script>
  </body>
</html>
